<app-header></app-header>
<div class="about-wrapper">
  <h1>À propos</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur non repudiandae voluptatibus. Aperiam aspernatur autem dolore esse fugit necessitatibus nemo quos, ratione rem tempore unde voluptates! Ab adipisci at aut beatae blanditiis cupiditate dolorem dolores error esse et expedita explicabo illum ipsa ipsam, iure laboriosam libero minima mollitia necessitatibus nisi optio quae quis quo quos sequi sunt, ut vero voluptate voluptatem voluptates! Ab aperiam dolore ea eveniet facere hic id labore, magni neque nostrum placeat quo repellendus saepe. Aliquam, autem blanditiis, deserunt ducimus eum id maxime minus modi nam nemo, numquam obcaecati optio perferendis sapiente sequi suscipit vero voluptas voluptatem!</p>
</div>
