<div class="header">
  <div class="toolbar-row">
    <div class="left-section">
      <a routerLink="/home" class="home-link"><img class="logo" src="assets/images/logo.png" alt="logo"></a>
    </div>
    <div class="center-section">
      <a routerLink="/home" class="home-link"><h1 class="title">Chemical Pursuit</h1></a>
    </div>
    <div class="right-section">
      <ul class="menu-horizontal">
        <li><a routerLink="/about">À propos</a></li>
        <li><a routerLink="/game-params">Jouer</a></li>
      </ul>
    </div>
  </div>
</div>
