<div class="header">
  <div class="toolbar-row">
    <div class="left-section">
      <a routerLink="{{ homeLink }}" class="home-link"><img class="logo" src="assets/images/logo.png" alt="logo"></a>
    </div>
    <div class="center-section">
      <a routerLink="{{ homeLink }}" class="home-link"><h1 class="title">Chemical Pursuit</h1></a>
    </div>
    <div class="right-section">
      <ul class="menu-horizontal">
        <li><a routerLink="{{ aboutLink }}">À propos</a></li>
        <li><a routerLink="{{ gameParamsLink }}">Jouer</a></li>
      </ul>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu" matTooltip="Menu" class="menu-button">
        <a routerLink="{{ aboutLink }}">
          <button mat-menu-item>
            <mat-icon>info</mat-icon>
            <span>À propos</span>
          </button>
        </a>

        <a routerLink="{{ gameParamsLink }}">
          <button mat-menu-item>
            <mat-icon>sports_esports</mat-icon>
            <span>Jouer</span>
          </button>
        </a>
      </mat-menu>
    </div>
  </div>
</div>
