<div class="params-wrapper" [formGroup]="mainForm">
  <h1>Réglages de la partie</h1>
  <div class="params">
    <div class="param">
      <label for="nbPlayers">Nombre de joueurs</label>
      <div class="number-input">
        <button (click)="decreasePlayersNumber()" >-</button>
        <input id="nbPlayers" formControlName="playersNumber">
        <button (click)="increasePlayersNumber()" >+</button>
      </div>
    </div>
    <div class="param">
      <label for="difficulty">Difficulté</label>
      <div class="select-input">
        <select id="difficulty" formControlName="difficulty" aria-disabled="true">
          <option value="" disabled selected>Choisir</option>
          <option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty}}</option>
        </select>
      </div>
    </div>
    <div class="param">
      <label for="diceSize">Taille du dé</label>
      <div class="number-input">
        <button (click)="decreaseDiceSize()">-</button>
        <input id="diceSize" formControlName="diceSize" aria-disabled="true">
        <button (click)="increaseDiceSize()">+</button>
      </div>
    </div>
    <div class="params-footer">
      <app-prev (click)="goToHome()"></app-prev>
      <app-next (click)="goToPlayersName()" [disabled]="!mainForm.valid"></app-next>
    </div>
  </div>
  <div class="spinner" *ngIf="loading">
    <img src="./assets/images/logo.png" alt="spinner" class="spinner-image">
  </div>
</div>
