@import "src/assets/styles/colors.scss";

.about-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}

.about-wrapper > h1 {
  border-bottom: none;
  font-size: 4em;
  text-align: center;
  margin: 50px 0 50px;
  color: $blue-enscm;
}

.about-wrapper > h3 {
  border-bottom: none;
  font-size: 2.5em;
  text-align: center;
  margin: 50px 0 50px;
  color: $blue-enscm;
}

.about-wrapper > p {
  border-bottom: none;
  font-size: 1.5em;
  text-align: center;
  margin: 0 0 50px;
  color: $blue-enscm;
  max-width: 70%;
}

.divider {
  width: 70%;
  height: 1px;
  background-color: $blue-enscm;
  margin: 50px 0;
}

.underline {
  text-decoration: underline;
}

ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  margin: 0 0 50px;
  color: $blue-enscm;
  max-width: 70%;
}

li {
  margin: 10px 0;
}
