<div class="about-wrapper">
  <h1>Le jeu</h1>
  <p>Le Chemical Death Race est un jeu de plateau qui se joue de 1 à 4 joueurs. C'est un mix de 3 jeux : le Trivial
    Pursuit, le Pictionary et le jeu de l'oie. Le but du jeu est de répondre à des questions sélectionnées par des
    enseignants de l'École Nationale Supérieur de Chimie de Montpellier pour avancer sur le plateau. Le premier joueur
    qui arrive à la fin du plateau gagne la partie.</p>

  <h1>Les règles du jeu</h1>
  <p>Voici un fichier pdf qui explique les règles du jeu</p>

  <h1>À propos de nous</h1>
  <p>Nous sommes 2 étudiants en quatrième année de Polytech Montpellier, en section Informatique et Gestion. Dans le
    cadre d'un projet industriel de fin d'année, nous avons répondu à la demande de deux professeurs de l'École
    Nationale Supérieur de Chimie de Montpellier.</p>

  <h1>Remerciements</h1>
  <p>Merci à M. Mike Robitzer & M. Matthieu Rivallin pour leur confiance et leur aide tout au long du projet.</p>
  <p>Merci à M. Philippe Chapellier, notre tuteur durant ce projet.</p>

  <span class="divider"></span>

  <p>© Romain Frezier & Tom Sartori - Polytech Montpellier</p>
</div>
