<div class="about-wrapper">
  <h1>Le jeu</h1>
  <p>Chemistry Death Race est une application ludo-éducative qui a pour objectif d’aider les étudiants de l’ENSCM dans
    l’acquisition et le contrôle de leurs connaissances, tout au long de leur formation d’ingénieur chimiste.</p>

  <span class="divider"></span>

  <h1>Les règles du jeu</h1>
  <p>Chemistry Death Race se présente sous la forme d’un jeu de plateau qui se joue entre 1 et 4 joueurs.</p>

  <h3>Réglages de la partie</h3>
  <p>Lors du réglage de la partie, les joueurs doivent indiquer le nombre de joueurs qui participent (de 1 à 4), la
    difficulté du jeu et la taille du dé. Ils doivent également indiquer les noms des joueurs.</p>

  <h3>Le déroulement d'une partie</h3>
  <p>Une partie de Chemistry Death Race se déroule au tour par tour où les joueurs jouent les uns après les autres en
    suivant l’ordre indiqué lors du réglage de la partie. Les joueurs utilisent le dé intégré à l’application. Pour
    chaque joueur, après le lancement du dé, le pion avance sur le parcours en fonction de la valeur obtenue, puis une
    action est effectuée en fonction de la case sur laquelle il s’est arrêté :</p>
  <ul>
    <li><span class="underline">Case question classique</span> : Le joueur doit répondre à une question dans la
      catégorie
      (parmi 6) indiquée par la
      case sur laquelle il s’est arrêté. Si le joueur répond correctement à la question, il garde la main et rejoue un
      nouveau tour sinon il passe la main au joueur suivant.
    </li>
    <li><span class="underline">Case question défi</span> : Lorsqu’un joueur s’arrête sur une case défi, il devra
      répondre à
      une question dans la
      catégorie (parmi 6) indiquée par la case, comme pour une case question, mais il sera en compétition avec les
      autres joueurs pour donner la réponse. Si c’est lui qui répond à la question en premier, il garde la main et
      rejoue un nouveau tour. Si c’est un autre joueur qui donne la réponse en premier, c’est ce dernier qui reprend la
      main. Si personne ne répond correctement à la question il passe la main au joueur suivant.
    </li>
    <li><span class="underline">Case + ou -3</span> : Lorsqu’un joueur s’arrête sur une case +3 ou -3, son pion avance
      ou
      recule respectivement de 3 cases.
    </li>
  </ul>
  <p>Le gagnant du jeu est le premier joueur qui aura parcouru tout le jeu et qui sera arrivé sur la dernière case du
    plateau.</p>

  <span class="divider"></span>

  <h1>Crédits</h1>
  <p>Chemistry Death Race a été réalisé par Romain Frezier et Tom Sartori (étudiants de 4ème année de Polytech
    Montpellier) dans le cadre d’un projet pour Matthieu Rivallin et Mike Robitzer (ENSCM).</p>
  <p>
    Le jeu Chemistry Death Race est inspiré du jeu Chemical Pursuit créé dans le cadre du projet GATE (AAP Take Off #1
    de l’i-site MUSE) dédié à l’insertion des nouveaux entrants de l’ENSCM en 2019 par Rémi Auvergne, Carole Carcel,
    Sophie Cerneaux, Stefano Deabate, Lucien Doljac, Stéphanie Druon, Christine Fabre, Thibaut Jarrosson, Delphine
    Paolucci, Niaz Pernon, Naseem Ramsahye, Matthieu Rivallin, Mike Robitzer, Françoise Serein-Spirau, Guillaume Toquer
    et Jacques Vignon.
  </p>

  <span class="divider"></span>

  <h1>À propos de nous</h1>
  <p>Nous, Romain Frezier et Tom Sartori, sommes 2 étudiants en quatrième année de Polytech Montpellier, en section
    Informatique et Gestion. Dans le cadre d'un projet industriel de fin d'année, nous avons répondu à la demande de
    deux professeurs de l'École Nationale Supérieur de Chimie de Montpellier.</p>
  <p>Nous tenons à remercier M. Mike Robitzer & M. Matthieu Rivallin pour leur confiance et leur aide tout au long du
    projet.</p>
  <p>Nous remercions également M. Philippe Chapellier, notre tuteur durant ce projet.</p>
</div>
