@import "src/assets/styles/colors.scss";
@import "src/assets/styles/font.scss";

.title-wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 20vh;
  align-items: center;
  justify-content: center;
}

.title-wrapper > img {
  width: 25vh;
  margin-right: 20vh;
}

.content-wrapper > h1 {
  margin: 0;
  border-bottom: none;
  font-size: 10vh;
  line-height: 100%;
  text-align: center;
  color: $blue-enscm;
}

.title-wrapper > h2 {
  margin: 0;
  border-bottom: none;
  font-size: 6vh;
  line-height: 100%;
  text-align: center;
  color: $blue-enscm;
}

.play-button {
  margin-top: 10vh;
  width: 25vw;
  height: 10vh;
  border-radius: 20px;
  cursor: pointer;
  border: $blue-enscm 1px solid;
  box-shadow: $blue-enscm 0 0 100px;
  background-color: $turquoise-enscm;
  font-family: $app-font;
  color: white;
  font-size: min(5vw, 5vh);
}

.play-button:hover {
  background-color: $blue-enscm;
  color: white;
}
