@import "src/assets/styles/colors.scss";


.title-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20vh;
  align-items: center;
  justify-content: center;
}

.title-wrapper > h1 {
  margin: 0;
  border-bottom: none;
  font-size: 10vh;
  line-height: 100%;
  text-align: center;
}

.title-wrapper > h2 {
  margin: 0;
  border-bottom: none;
  font-size: 6vh;
  line-height: 100%;
  text-align: center;
  color: $main-color;
}

.play-button {
  margin-top: 10vh;
  width: 25vw;
  height: 10vh;
  border-radius: 20px;
  cursor: pointer;
  border: $main-color 1px solid;
  box-shadow: $main-color 0 0 100px;
  background-color: transparent;
  color: $main-color;
  font-family: "Freckle Face", cursive;
  font-size: min(5vw, 5vh);
}

.play-button:hover {
  background-color: $main-color;
  color: white;
}
