<div class="params-wrapper" [formGroup]="mainForm">
  <h1>Nom des joueurs</h1>
  <div class="params">
    <div *ngFor="let name of playersName; let i = index" class="param">
      <div class="name">
        <div class="player{{i+1}}"></div>
        <label for="player{{i+1}}">Joueur {{i + 1}}</label>
      </div>
      <input id="player{{i+1}}" formControlName="player{{i+1}}">
    </div>
    <div class="params-footer">
      <app-prev (click)="goToParams()"></app-prev>
      <p class="error">{{ getErrorMessage() }}</p>
      <app-next (click)="goToGame()" [disabled]="!mainForm.valid"></app-next>
    </div>
  </div>
</div>
