// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import "src/assets/styles/colors.scss";
@import "src/assets/styles/font.scss";

$game-typography: mat.define-typography-config(
  $font-family: $app-font,
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($game-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ChemicalPursuit-ui-primary: mat.define-palette(mat.$indigo-palette);
$ChemicalPursuit-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ChemicalPursuit-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ChemicalPursuit-ui-theme: mat.define-light-theme((
  color: (
    primary: $ChemicalPursuit-ui-primary,
    accent: $ChemicalPursuit-ui-accent,
    warn: $ChemicalPursuit-ui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ChemicalPursuit-ui-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $app-font;
  background-color: $accent-color;
}

a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: x-large;
  &:hover {
    border-bottom: white thin solid;
  }
}

h1 {
  color: white;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.spinner-image {
  max-width: 30%;
  max-height: 30%;
  animation: 1s spinner infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
