/* Definition of color variables */

$background-color: #93b8c9;
$blue-enscm: #0066a9;
$turquoise-enscm: #8acbc1;
$red-color: #d64e50;

$player1-color: #9D0000;
$player2-color: #76009D;
$player3-color: #229D00;
$player4-color: #00259D;
