/* Definition of color variables */

$accent-color: #13005A;
$main-color: #1C82AD;
$warn-color: #03C988;
$red-color: #c90303;

$player1-color: #9D0000;
$player2-color: #76009D;
$player3-color: #229D00;
$player4-color: #00259D;
