/* Definition of the font */

@font-face {
  font-family: 'App Font';
  src: url(../fonts/Ink_Free/Inkfree.ttf) format('truetype');
  //src: url(../fonts/Freckle_Face/FreckleFace-Regular.ttf) format('truetype');
  font-weight: bold;
}

$app-font: "App Font", serif;
